.time {
    text-align: center;
    padding: 50px 0;
}

.time h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    margin: 0;
}

.colaboradores {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 32px;
    flex-wrap: wrap;
}